@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Commissioner';
  src: url('/fonts/Commissioner-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
    background-color: #000;
     font-family: 'Commissioner', sans-serif;
}